# Copiar a .env y ajustar
APP_PORT=8080

# DB SQL Server externo (fuera del contenedor)
# Si esta en el host: usar host.docker.internal
# Si esta en otra maquina LAN: usar IP directa, ej 192.168.0.135
DB_HOST=192.168.0.135
DB_PORT=1433
DB_NAME=A_GSOL
DB_USER=profit
DB_PASSWORD=profit

APP_NOMBRE=Empresa | Nombre
APP_DIRECCION=DIRECCION DE PRUEBA
APP_TELEFONO=+58-123-4455
APP_CORREO=empresa@empresa.com
APP_RIF=j-123456789-9
