.logo_aurora{
    max-width: 75%;   
    margin:auto;
    display:inline;
}

.logo_aurora_layaut{
    max-width: 50%;
    margin: auto;
    display: block;
    left: 5px;
    position: absolute;
    top: 10px;
    height: 50px;
    width: 50px;
}

.chartdiv_report {
    width: 100%;
    max-height: 600px;
    height: 100vh;
  }

  
.chartdiv_dashboard {
    width: 100%;
    max-height: 600px;
    height: 100vh;
    /*pointer-events:none;*/
  }

  
.chartdiv_top {
  width: 100%;
  max-height: 600px;
  height: 100vh;
}




